<div class="loading-shade" *ngIf="saving">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<app-top-menu [disabled]="saving">
    <ng-container buttons>
        <button mat-flat-button [disabled]="saving" color="primary" (click)="onEntryAdd(activeTab)">
            <mat-icon style="margin: 0">add</mat-icon>
        </button>
    </ng-container>
</app-top-menu>

@if (loadError) {
<app-error-state message="Failed to load configuration. Please try again." (retry)="retryLoad()"></app-error-state>
} @else {
<mat-tab-group [selectedIndex]="activeTabIndex" [dynamicHeight]="true" animationDuration="300ms" (selectedIndexChange)="onTabChange($event)">

    <!-- ==================== FORMS TAB ==================== -->
    <mat-tab>
      <ng-template mat-tab-label>
        <app-resource-tab-label icon="assignment" title="Forms" [count]="forms.length"></app-resource-tab-label>
      </ng-template>
      <app-resource-config-list
        [items]="forms"
        resourceType="form"
        [saving]="saving"
        (edit)="onEntryEdit($event, 'form')"
        (remove)="onEntryDelete($event, 'form')">
      </app-resource-config-list>
    </mat-tab>

    <!-- ==================== CHATS TAB ==================== -->
    <mat-tab>
      <ng-template mat-tab-label>
        <app-resource-tab-label icon="chat" title="Chats" [count]="chats.length"></app-resource-tab-label>
      </ng-template>
      <app-resource-config-list
        [items]="chats"
        resourceType="chat"
        [saving]="saving"
        (edit)="onEntryEdit($event, 'chat')"
        (remove)="onEntryDelete($event, 'chat')">
      </app-resource-config-list>
    </mat-tab>

</mat-tab-group>
}