mat-action-list .mat-mdc-list-item {
  margin: 2px 0;
  ::ng-deep h3.mat-mdc-list-item-title {
      font-size: 1.1em;
      text-transform: uppercase;
    }
}

.search-field {
  width: 100%;
  max-width: 500px;
}
