<h1 mat-dialog-title>{{ editMode ? 'Edit' : 'Add' }} {{ resourceType === 'form' ? 'Form' : 'Chat' }}</h1>
<mat-dialog-content>
    <form [formGroup]="formGroup">

        @if (resourceType === 'form') {
        <mat-form-field>
            <mat-label>Form Workflow</mat-label>
            <mat-select formControlName="form" required>
                @for (wflow of formTriggeredWorkflows; track wflow) {
                <mat-option [value]="wflow.id + '+' + wflow.formPath">
                    {{wflow.formTitle}} ({{wflow.name}})
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        } @else {
        <mat-form-field>
            <mat-label>Chat Workflow</mat-label>
            <mat-select formControlName="form" required>
                @for (wflow of chatTriggeredWorkflows; track wflow) {
                <mat-option [value]="wflow.id + '+' + wflow.webhookId">
                    {{wflow.name}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        }

        <mat-form-field>
            <mat-label>Path</mat-label>
            <input matInput formControlName="path" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        @if (formGroup.get('auth').value) {
        <mat-form-field>
            <mat-label>Roles</mat-label>
            <mat-select formControlName="roles" multiple>
                @for (role of roleList; track role) {
                <mat-option [value]="role.code">{{ role.value }}</mat-option>
                }
            </mat-select>
            <mat-hint [align]="'end'">{{ selectedRolesNum }} roles selected</mat-hint>
        </mat-form-field>
        }

        @if (networkMembersList.length > 0) {
        <mat-form-field>
            <mat-label>Network Members</mat-label>
            <mat-select formControlName="networkMembers" multiple (selectionChange)="onNetworkMembersChange($event)">
                <mat-option [value]="'ALL'">All</mat-option>
                @for (member of networkMembersList; track member) {
                <mat-option [value]="member.code">{{ member.value }}</mat-option>
                }
            </mat-select>
            <mat-hint [align]="'end'">{{ selectedNetworkMembersNum }} members selected</mat-hint>
        </mat-form-field>
        }
        
        <mat-checkbox formControlName="includePageEntities"
            [matTooltip]="resourceType === 'form' ? 'When enabled, entities in the current page will be included with form submissions. This data is sent only on the initial form submission.' : 'When enabled, entities in the current page will be included with every chat message.'">
            Include page context
        </mat-checkbox>
        @if (formGroup.get('includePageEntities').value) {
        <mat-form-field>
            <mat-label>Allowed entity types</mat-label>
            <mat-select formControlName="allowedEntityTypes" multiple>
                @for (entityType of entityTypeList; track entityType) {
                <mat-option [value]="entityType">{{ entityType }}</mat-option>
                }
            </mat-select>
            <mat-hint>If empty, all entity types will be included</mat-hint>
        </mat-form-field>
        }

        @if (resourceType === 'form') {
        <mat-accordion [style.margin]="'10px 0'" [style.display]="'block'">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Default parameters
                        @if (defaultParams?.length > 0) {
                            ({{ defaultParams.length }})
                        }
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div formArrayName="defaultParams">
                    @for (pair of defaultParams.controls; track $index; let i = $index) {
                    <div [formGroupName]="i" [style.display]="'flex'">
                        <button mat-icon-button color="warn" (click)="removeParam(i)"
                            [style.marginInlineStart]="'-10px'" [style.marginInlineEnd]="'10px'">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <div [style.flex]="1">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" formControlName="key">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Value</mat-label>
                                <input matInput placeholder="Value" formControlName="value">
                            </mat-form-field>
                        </div>
                    </div>
                    }
                </div>
                <button mat-raised-button color="primary" type="button" (click)="addParam()" [style.width]="'100%'">Add</button>
            </mat-expansion-panel>
        </mat-accordion>
        }

    </form>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-flat-button color="secondary" mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.pristine"
        (click)="onSave()">Save</button>
</mat-dialog-actions>