<h1 mat-dialog-title>Edit Entry</h1>
<mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field>
            <mat-label>Form</mat-label>
            <mat-select formControlName="form" required>
                @for (wflow of formTriggeredWorkflows; track wflow) {
                <mat-option [value]="wflow.id + '+' + wflow.formPath">
                    {{wflow.formTitle}} ({{wflow.name}})
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Path</mat-label>
            <input matInput formControlName="path" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        @if (formGroup.get('auth').value) {
        <mat-form-field>
            <mat-label>Roles</mat-label>
            <mat-select formControlName="roles" multiple>
                @for (role of roleList; track role) {
                <mat-option [value]="role.code">{{ role.value }}</mat-option>
                }
            </mat-select>
            <mat-hint [align]="'end'">{{ selectedRolesNum }} roles selected</mat-hint>
        </mat-form-field>
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-flat-button color="secondary" mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.pristine"
        (click)="onSave()">Save</button>
</mat-dialog-actions>